<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{navbar.css}">
    <title>Afslut lejeaftale</title>
</head>
<body>

<div th:replace="Fragments/fragment-navigationbar-main-menu :: navigationbar-main-menu"></div>

<table>
    <thead>
    <tr>
        <th>Lejeaftale ID</th>
        <th>Stelnummer</th>
        <th>Startdato</th>
        <th>Slutdato</th>
        <th>Pris</th>

    </tr>
    </thead>
    <tr th:each="rentalAgreement : ${activeRentalAgreements}">
        <td th:text="${rentalAgreement.getRentalAgreementID()}"></td>
        <td th:text="${rentalAgreement.getVinNumber()}"></td>
        <td th:text="${rentalAgreement.getRentalStartdate()}"></td>
        <td th:text="${rentalAgreement.getRentalEndDate()}"></td>
        <td th:text="${rentalAgreement.getPrice()}"></td>
        <td><a th:href="@{/delete-rental/{rentalAgreementID} (rentalAgreementID = ${rentalAgreement.getRentalAgreementID()})}">Afslut lejeaftale</a></td>
    </tr>

</table>

</body>
</html>